body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  display: inline-block;
}

/* Styles for the navigation bar */
nav {
  background-color: #ffffff; /* Set background color */
  border-radius: 15px; /* Make the edges rounded */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle drop shadow */
  padding: 10px; /* Add some padding */
  display: flex; /* Use flexbox to center the logo */
  align-items: center;
  max-width: 600px; /* Set a maximum width */
  margin: 0 auto; /* Center the nav bar horizontally */
}

nav img {
  height: 30px; /* Set the height of the logo */
  margin-right: 10px; /* Add some space to the right of the logo */
}

nav ul {
  list-style: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to evenly space the navigation links */
  justify-content: space-between;
  flex-grow: 1; /* Allow the navigation links to take up all available space */
}

nav li {
  margin: 0 10px; /* Add some space between the navigation links */
}

nav a {
  color: #333333; /* Set link color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the text bold */
  font-size: 16px; /* Set font size */
  transition: color 0.3s ease-in-out; /* Add a smooth transition */
}

nav a:hover {
  color: #666666; /* Change link color on hover */
}

main section {
  margin-bottom: 20px;
}

main section h2 {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
